@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800';
*{
    outline:none
}

:root{
    --theme: linear-gradient(rgb(254, 114, 90),rgb(229, 101, 131));
    /* --theme: linear-gradient(to right,rgb(79, 88, 155),rgb(67, 139, 145)); */
    --btn:linear-gradient(rgb(254, 114, 90),rgb(229, 101, 131));
    /* --btn:linear-gradient(to right,rgb(79, 88, 155),rgb(67, 139, 145)); */


    --headings: rgb(254, 114, 90);
}

a{
    text-decoration:none;
    outline:none;
    -webkit-transition:.4s;
    -o-transition:.4s;
    transition:.4s;
    color:#333
}
input:focus,button:focus,a:focus,a:hover{
    text-decoration:none;
    outline:none;
    color:#768ede
}
img{
    max-width:100%;
    height:auto
}
h1,h2,h3,h4,h5,h6{
    margin:0 0 15px;
    font-weight:400;
    line-height:1.4em
}
.navbtn{
    cursor: pointer;
}
h1{
    font-size:60px
}
h2{
    font-size:50px
}
#home_page h2{
    font-size: 45px;
    margin-top: 15%;
}
#home_page p{
    font-size: 20px;
    margin: 20px 0;
}
h3{
    font-size:32px
}
html,body{
    height:100%
}
body{
    font-family:open sans,sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:32px;
    color:#58628a
}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus{
    -webkit-box-shadow:0 0 0 1000px #fff inset!important
}
.bttn-white{
    position:relative;
    color:#fff;
    background:var(--btn);
    /* background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1); */
    overflow:hidden;
    z-index:1;
    margin-right:10px;
    border:none
}
.bttn-white img{
    height:20px;
    margin-right:5px;
    margin-top:-5px;
    display:inline-block
}
.bttn-white:before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:var(--btn);
    color:#fff;
    z-index:-1;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    opacity:1
}
.bttn-white:hover{
    color:#fff;
    -webkit-box-shadow:0 25px 50px -20px rgba(0,0,0,.6);
    box-shadow:0 25px 50px -20px rgba(0,0,0,.6);
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px)
}
.bttn-white.active,.bttn-white:hover{
    color:#fff
}
.bttn-white.active:before,.bttn-white:hover:before{
    opacity:0
}
.bttn-default,.bttn-white{
    padding:12px 30px;
    background-color:var(--btn);
    display:inline-block;
    color:#fff;
    text-transform:uppercase;
    border-radius:50px;
    letter-spacing:1.5px;
    font-weight:700;
    font-size:14px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    border:none
}
.bttn-default .lnr,.bttn-white .lnr{
    margin-right:10px
}
.bttn-default{
    padding:12px 40px;
    background:var(--btn);
    /* background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1); */
    color:#fff;
    -webkit-box-shadow:0 0 0 0 rgba(0,0,0,.1);
    box-shadow:0 0 0 0 rgba(0,0,0,.1);
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
.bttn-default:hover{
    color:#fff;
    -webkit-box-shadow:0 25px 50px -20px rgba(0,0,0,.6);
    box-shadow:0 25px 50px -20px rgba(0,0,0,.6);
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px)
}
.sq{
    border-radius:3px!important
}
.section-padding-top{
    padding-top:120px
}
.section-padding{
    padding-top:40px;
    padding-bottom:120px
}
.upper{
    text-transform:uppercase
}
.angle,.overlay{
    position:relative;
    z-index:1
}
.overlay:before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    /* background:#482cbf; */
    /* background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%); */
    /* filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1);
    opacity:.8; */
    z-index:-2
}
.angle:after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:150px;
    background:transparent -webkit-linear-gradient(left bottom,#ffffff 50%,transparent 50%) repeat scroll 0 0;
    background:rgba(0,0,0,0) -webkit-gradient(linear,left bottom,right top,color-stop(50%,#ffffff),color-stop(50%,transparent)) repeat scroll 0 0;
    background:transparent -o-linear-gradient(left bottom,#ffffff 50%,transparent 50%) repeat scroll 0 0;
    background:transparent linear-gradient(to right top,#ffffff 50%,transparent 50%) repeat scroll 0 0;
    z-index:-1
}
.dark-color{
    color:#434345
}
.blue-color{
    color:rgb(53, 114, 143);
}
.white-color{
    color:#fff!important
}
.gray-bg{
    background-color:rgba(195,157,60,0.05);
}

#myCarousel{
    position:absolute;
    z-index: 900;
}

#emptyframe{
    position:absolute;
    z-index: 1000;
}


#emptyframe2{
    position:absolute;
    transform: translateY(-60px);
    z-index: 1000;
}


#myCarousel2{
    position:absolute;
    z-index: 900;
}



.mainmenu-area{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:9999;
    padding:20px 10px 15px 0;

}
.mainmenu-area:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.mainmenu-area.affix{
    position:fixed;
    top:0;
    background-color: #000000e0;
}

.mainmenu-area .container-fluid{
    display: flex;
}

.mainmenu-area .navbar-header{
    flex: 30;
    display: flex;
    justify-content: center;
}

.mainmenu-area .collapse{
    margin-top: 15px;
    flex: 70;
}

.mainmenu-area .nav{
    display: flex;
    width: 90%;
    justify-content: center;
}

.mainmenu-area ul.nav.navbar-nav li a{
    color:#fff;
    padding:5px 15px;
    text-shadow: 0px 0px 3px black;
    text-transform:capitalize;
    font-weight:400;
    border-radius: 3px;
}
.mainmenu-area ul.nav.navbar-nav li a:hover,.mainmenu-area ul.nav.navbar-nav li.active a{
    background:var(--theme);;
}
.mainmenu-area .navbar-brand{
    height:auto;
    padding:0 15px
}
.mainmenu-area .navbar-brand img{
    height: 40px;
}
.page-title .title{
    position:relative;
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:1.5px;
    color:var(--theme);
    font-weight:600
}
.text-center.page-title .title:before,.page-title .title:after{
    content:'';
    width:50px;
    height:1px;
    display:inline-block;
    background-color:#e1e1e1;
    margin:0 15px;
    -webkit-transform:translateY(-4px);
    -ms-transform:translateY(-4px);
    transform:translateY(-4px)
}
.container::before,.row::before,.container::after{
    content:'';
}
.home-area{
    height:100%;
    width:100%;
    background:no-repeat scroll center center /cover;
    color:#fff;
    /* margin-bottom:100px */
}

.home-area .mobile-image{
    margin-right:0;
    margin-left:0;
    margin-bottom:-158px
}
.progress-area{
    background-repeat:no-repeat;
    background-position:right center;
    background-size:auto 100%;
    margin-top:90px;
}
.progress-area .mobile-image{
    margin-top:-90px;
    margin-bottom:-153px;
}

.progress-area span{
    color:var(--headings)
}

.blah{
    margin-right: 10px;
}

@media only screen and (min-width: 767px){
    .proressrow{
        display: flex;
        justify-content: space-between;
    }
}



.feature-area{
    background-color: #FFFFFF;
    background-position:bottom -120px center;
    background-repeat:no-repeat;
    background-size:auto 94%;
    margin-bottom:142px
}

.feature-area h4{
    color:var(--headings)
}

.feature-area a{
    color:var(--headings)
}

.feature-area .mobile-image{
    margin-bottom:-142px
}
.service-box{
    position:relative;
    padding-left:50px;
    padding-right:10px;
}
.service-box2{
    position:relative;
    padding-left:10px;
    padding-right:50px;
}

.service-box:hover,.service-box2:hover {
    background-color: var(--theme);
}


.service-box h4{
    margin-bottom:10px
}
.testimonial-area{
    padding-top:60px;
    padding-bottom:120px
}


.download-area{
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    margin-top:70px;
    margin-bottom:100px;
    color:#fff
}
.download-area .mobile-image{
    margin-top:-106px;
    margin-bottom:-200px
}

.questions-area{
    background-color:rgba(195,157,60,0.05);
}
.toggole-boxs{
    margin-top:-20px
}
.toggole-boxs h3{
    font-size:18px;
    background-color:#fff;
    margin-bottom:0;
    margin-top:20px;
    outline:none;
    padding:20px 30px 20px 60px;
    color:#434345;
    border-left:5px;
    cursor:pointer;
    position:relative
}
.toggole-boxs h3:before,.toggole-boxs h3:after{
    content:'';
    position:absolute;
    left:30px;
    top:30px;
    width:10px;
    height:2px;
    background-color:#434345;
}
.toggole-boxs h3:before{
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
.toggole-boxs h3.ui-state-active:before{
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg)
}
.toggole-boxs div{
    background-color:#fff;
    padding:0 30px 20px 60px;
    border-left:5px solid var(--headings);
}

.subscribe-form{
    background-color:#fff;
    padding:60px;
    border-radius:5px
}
.subscribe-form form{
    position:relative
}
.subscribe-form form .control{
    width:100%;
    height:auto;
    padding:15px 180px 15px 30px;
    border-radius:100px;
    border:1px solid var(--headings)
}
.subscribe-form form .bttn-white{
    position:absolute;
    right:0;
    top:0;
    margin-right:0
}
.footer-box{
    text-align:center
}
.footer-box .box-icon{
    width:75px;
    height:75px;
    margin:auto auto 30px;
    text-align:center;
    line-height:75px;
    color:#fff;
    font-size:20px;
    background:var(--theme);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1);
    border-radius:100%;
    position:relative;
    z-index:1;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
.footer-box .box-icon:before{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:calc(100% - 8px);
    height:calc(100% - 8px);
    border:2px solid #fff;
    border-radius:100%;
    z-index:-1;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
/* .footer-box:hover .box-icon{
    color:#5e88fc
}
.footer-box:hover .box-icon:before{
    background-color:#fff
} */
.footer-bottom{
    padding:20px 0;
    background-color:#f5f6ff;
    border-top:1px solid var(--headings)
}
.footer-bottom .footer-menu ul{
    list-style:none;
    margin:0;
    padding:0;
    text-align:right
}
.footer-bottom .footer-menu ul li{
    display:inline-block
}
.footer-bottom .footer-menu ul li a{
    padding:10px;
    color:#8790af
}
.footer-bottom .footer-menu ul li a:hover{
    color:#5e88fc
}
#scrollUp{
    right:0;
    bottom:0;
    height:60px;
    width:60px;
    text-align:center;
    line-height:60px;
    font-size:30px;
    color:#5e88fc
}
.preloader{
    background-color:#fff;
    bottom:0;
    height:100%;
    position:fixed;
    top:0;
    width:100%;
    z-index:99999999
}
.preloader span{
    background:#482cbf;
    background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1);
    border-radius:100%;
    height:60px;
    width:60px;
    line-height:60px;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align:center;
    color:#fff;
    font-size:24px;
    margin:auto;
    -webkit-animation:mymove 1.5s infinite linear;
    animation:mymove 1.5s infinite linear
}
@-webkit-keyframes mymove{
    0%{
        -webkit-box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6);
        box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6)
    }
    25%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6)
    }
    50%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 20px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 20px rgba(94,136,252,.6)
    }
    75%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6)
    }
    100%{
        -webkit-box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6);
        box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6)
    }
}
@keyframes mymove{
    0%{
        -webkit-box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6);
        box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6)
    }
    25%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6)
    }
    50%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 20px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 20px rgba(94,136,252,.6)
    }
    75%{
        -webkit-box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6);
        box-shadow:0 0 0 10px rgba(94,136,252,.6),0 0 0 10px rgba(94,136,252,.6)
    }
    100%{
        -webkit-box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6);
        box-shadow:0 0 0 0 rgba(94,136,252,.6),0 0 0 0 rgba(94,136,252,.6)
    }
}
.site-header{
    background:#482cbf;
    background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1);
    color:#fff;
    padding:180px 0 120px
}
.site-header a{
    color:#fff
}
.breadcrumb{
    background:0 0;
    display:inline-block;
    margin-top:10px;
    padding:0
}
.post-single:after{
    content:"";
    clear:both;
    display:table
}
.post-single{
    padding:30px;
    border-radius:3px;
    -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.1);
    box-shadow:0 0 20px 0 rgba(0,0,0,.1);
    margin-bottom:30px
}
.single-post .post-single{
    -webkit-box-shadow:none;
    box-shadow:none
}
.single-post .post-single .post-media{
    -webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.1);
    box-shadow:0 0 20px 0 rgba(0,0,0,.1);
    padding:30px;
    margin-bottom:30px
}
.post-single.sticky .post-media{
    width:55%;
    float:left;
    margin-right:60px
}
.post-single .post-media{
    overflow:hidden;
    border-radius:3px
}
.post-single .post-media img{
    width:100%
}
.post-single .post-meta{
    overflow:hidden;
    margin-top:20px;
    margin-bottom:20px
}
.post-single .post-body .post-meta .post-tags{
    float:left
}
.post-single .post-body .post-meta .post-date{
    float:right
}
.post-single .post-body h4{
    font-size:22px;
    margin-bottom:20px
}
.post-single .post-body .read-more{
    margin-top:10px;
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:700;
    font-size:14px;
    color:#768ede
}
.post-single .post-body .read-more:after{
    content:'\e87a';
    font-family:linearicons-free;
    margin-left:5px
}
.pagination .nav-links{
    padding:20px;
    -webkit-box-shadow:0 0 15px 0 rgba(0,0,0,.1);
    box-shadow:0 0 15px 0 rgba(0,0,0,.1);
    display:inline-block
}
.pagination{
    text-align:center;
    margin-top:80px;
    width:100%
}
.pagination .nav-links .page-numbers{
    width:40px;
    height:40px;
    display:inline-block;
    line-height:40px;
    border-radius:50%
}
.pagination .nav-links .page-numbers:hover{
    color:#482cbf;
    background-color:#f5f6ff
}
.pagination .nav-links .page-numbers.current{
    background:#482cbf;
    background:-webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:-o-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    background:linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf',endColorstr='#6ac6f0',GradientType=1);
    color:#fff
}
.post-single blockquote{
    padding:50px 160px;
    text-align:center;
    -webkit-box-shadow:0 0 15px 0 rgba(0,0,0,.1);
    box-shadow:0 0 15px 0 rgba(0,0,0,.1);
    font-size:26px;
    line-height:1.6em;
    border:none;
    color:#626264;
    background-color:#f4f4f4;
    border:30px solid #fff;
    font-style:italic
}
.comment-respond h4,.comments-area .comment-heading{
    font-size:20px;
    margin-bottom:40px;
    font-weight:600;
    color:#434345
}
.comments-list,.comments-list ul{
    list-style:none
}
.comments-list .comment{
    position:relative;
    padding-left:130px
}
.comments-list .comment .comment-pic{
    width:100px;
    height:100px;
    border-radius:3px;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden
}
.comments-list .comment .comment-content .comment-header{
    color:#434345
}
.comments-list .comment .comment-content .comment-header h4{
    font-size:18px;
    font-weight:600;
    margin-bottom:10px
}
.comments-list li li .comment .comment-pic{
    width:80px;
    height:80px
}
.comments-list li{
    margin-bottom:30px
}
.form-control{
    border-radius:2px;
    padding:15px 20px;
    height:auto;
    -webkit-box-shadow:none;
    box-shadow:none
}
.form-control:focus{
    -webkit-box-shadow:none;
    box-shadow:none
}
.form-double .box{
    width:calc(50% - 15px);
    float:left
}
.form-double .box.last{
    float:right
}
